header {

  form a:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 320px;

    img {
      height: 20px;
    }
  }
  
  nav {
    box-shadow: 0 0 5px 2px #222;
    ul {
      li {
        cursor: pointer;
      }
    }
  }

}

