.carousel {
  padding-top: 56px;
  max-height: 100vh;
}

.carousel-item {
  padding-top: -56px;
}

.carousel-caption {
  margin-bottom: 150px!important;
  background-color: #333!important;
  opacity: .9;
  box-shadow: 0 0 5px lightyellow;
  border-radius: 5px;
  max-width: 50%;
  margin: 0 auto;
}
.display-1 {
  text-shadow: 2px 2px 8px #000, -2px -2px 8px #000;
}
.lead {
  letter-spacing: 2px;
}

.carousel img {
  max-height: 100vh;
  min-width: 100vw;
}
